﻿
@{
    ViewBag.Title = "Index";
}

<div>
    @ViewBag.message
</div>

<h2>Dodavanje stana</h2>


<form action="~/Novi/Index" method="post">
    <table>
        <tr>
            <td>Drzava</td>
            <td><input type="text" name="drzava" /></td>
        </tr>
        <tr>
            <td>Grad</td>
            <td><input type="text" name="grad" /></td>
        </tr>
        <tr>
            <td>Ulica i broj</td>
            <td><input type="text" name="ulica_i_broj" /></td>
        </tr>
        <tr>
            <td>Sprat</td>
            <td><input type="number" name="sprat" /></td>
        </tr>
        <tr>
            <td>Kvadratura</td>
            <td><input type="number" name="kvadratura" /></td>
        </tr>
        <tr>
            <td>Opis</td>
            <td><input type="text" name="Opis" /></td>
        </tr>
        <tr>
            <td>Tip stana</td>
            <td>
                <input list="tipovi" name="tips"/>
                <datalist id="tipovi">
                    <option>GARSONJERA</option>
                    <option>DVOSOBAN</option>
                    <option>TROSOBAN</option>
                    <option>CETVOROSOBAN</option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Cena</td>
            <td><input type="number" name="cena" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Dodaj stan"/></td>
        </tr>
    </table>
</form>