﻿
@{
    ViewBag.Title = "IstorijaKupovine";
}

<h2>Istorija Kupovine za kupca @ViewBag.korisnik.Username</h2>

<table border="1">
    @foreach (var k in ViewBag.kupovine)
    {
        if (k.Kupac.Username == ViewBag.korisnik.Username)
        {
    <tr>
        <td>@ViewBag.korisnik.Username</td>
        <td>@k.stan.Drzava</td>
        <td>@k.stan.Grad</td>
        <td>@k.stan.Ulica_i_broj</td>
        <td>@k.stan.Sprat</td>
        <td>@k.stan.Opis</td>
        <td>@k.stan.Tip_stana</td>
        <td>@k.stan.Cena</td>
        <td>@k.stan.NaProdaju</td>
        <td>@k.Datum_Kupovine</td>
        <td>@k.Naplacena_cena</td>
    </tr>
        }
    }
</table>

<a href="~/Home/Index">Home</a>