﻿
@{
    ViewBag.Title = "MojaKorpa";
}

<h2>Moja Korpa</h2>
@if (Session["korpetina"].ToString() == "puna" )
{
    <table border="1">
    @foreach (var v in ViewBag.novaKorpa)
    {
        <tr>
            <td>@ViewBag.korisnik.Username</td>
            <td>@v.stan.Drzava</td>
            <td>@v.stan.Grad</td>
            <td>@v.stan.Ulica_i_broj</td>
            <td>@v.stan.Sprat</td>
            <td>@v.stan.Opis</td>
            <td>@v.stan.Tip_stana</td>
            <td>@v.stan.Cena</td>
            <td>@v.stan.NaProdaju</td>
            <td>@v.Datum_Kupovine</td>
            <td>@v.Naplacena_cena</td>
        </tr>
    }
    </table>
}
else
{
    <p>Korpa je trenutno prazna</p>
}

<a href="~/Home/Index">Home</a>