﻿
@{
    ViewBag.Title = "Pojedinacan1";
}

<h2>Kupovina stana</h2>


<table border="1">
     <tr>
         <td>@ViewBag.wohnung.Drzava</td>
         <td>@ViewBag.wohnung.Grad</td>
         <td>@ViewBag.wohnung.Ulica_i_broj</td>
         <td>@ViewBag.wohnung.Sprat</td>
         <td>@ViewBag.wohnung.Kvadratura</td>
         <td>@ViewBag.wohnung.Opis</td>
         <td>@ViewBag.wohnung.Tip_stana</td>
         <td>@ViewBag.wohnung.Cena</td>
         <td>@ViewBag.wohnung.NaProdaju</td>
         <td>
             <form action="~/Novi/KupiStan" method="post">
                 <input type="number" name="id" value="@ViewBag.wohnung.Id" hidden/>
                 <input type="submit" value="Kupi"/>
             </form>
         </td>
     </tr>
</table>