﻿
@{
    ViewBag.Title = "Pojedinacan";
}

<h2>Modifikovanje stana</h2>

<form action="~/Novi/Modifikuj1" method="post">
    <table>
        <tr>
            <td>Drzava</td>
            <td><input type="text" name="drzava" value="@ViewBag.ModStan.Drzava"/></td>
        </tr>
        <tr>
            <td>Grad</td>
            <td><input type="text" name="grad" value="@ViewBag.ModStan.Grad"/></td>
        </tr>
        <tr>
            <td>Ulica i broj</td>
            <td><input type="text" name="ulica_i_broj" value="@ViewBag.ModStan.Ulica_i_broj"/></td>
        </tr>
        <tr>
            <td>Sprat</td>
            <td><input type="number" name="sprat" value="@ViewBag.ModStan.Sprat"/></td>
        </tr>
        <tr>
            <td>Kvadratura</td>
            <td><input type="number" name="kvadratura" value="@ViewBag.ModStan.Kvadratura"/></td>
        </tr>
        <tr>
            <td>Opis</td>
            <td><input type="text" name="Opis" value="@ViewBag.ModStan.Opis"/></td>
        </tr>
        <tr>
            <td>Tip stana</td>
            <td>
                <input list="tipovi" name="Tip_stana" value="@ViewBag.ModStan.Tip_stana"/>
                <datalist id="tipovi">
                    <option>GARSONJERA</option>
                    <option>DVOSOBAN</option>
                    <option>TROSOBAN</option>
                    <option>CETVOROSOBAN</option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Cena</td>
            <td><input type="number" name="cena" value="@ViewBag.ModStan.Cena"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Modifikuj stan"/></td>
        </tr>
    </table>
</form>