﻿
@{
    ViewBag.Title = "Index";
}

<h2>Registracija</h2>
<div>
    @ViewBag.poruka
</div>
@if (ViewBag.adminova != null)
{
    <p>@ViewBag.adminova</p>
}
@if (ViewBag.svapolja != null)
{
    <p>@ViewBag.svapolja</p>
}
<form action="~/Registracija/Index" method="post">
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" name="username" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td>Ime:</td>
            <td><input type="text" name="ime" /></td>
        </tr>
        <tr>
            <td>Prezime</td>
            <td><input type="text" name="prezime" /></td>
        </tr>
        <tr>
            <td>Pol</td>
            <td>
                <input list="pols" name="polovi" />
                <datalist id="pols">
                    <option value="MUSKI"></option>
                    <option value="ZENSKI"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="email" /></td>
        </tr>
        <tr>
            <td>Datum rodjenja</td>
            <td><input type="date" name="datum_rodjenja" /></td>
        </tr>
        <tr>
            <td>Uloga</td>
            <td>
                <input list="roles" name="uloga" />
                <datalist id="roles">
                    <option value="KORISNIK"></option>
                    <option value="ADMINISTRATOR"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" name="Registruj se" /></td>
        </tr>

    </table>
</form>

<a href="~/Home/Index">Home</a>
<a href="~/Autentikacija/Index1">Log in</a>
<a href="~/Registracija/Reg">Registracija</a> 