﻿
@{
    ViewBag.Title = "Home Page";
}

<a href="~/Home/Index">Home</a>
<a href="~/Autentikacija/Index1">Log in</a>
<a href="~/Registracija/Reg">Registracija</a> 


<h2>Stanovi</h2>

@if (ViewBag.wohnungen != null)
{
<table border="1">
    @foreach (var s in ViewBag.wohnungen)
    {
        <tr>
            <td>@s.Drzava</td>
            <td>@s.Grad</td>
            <td>@s.Ulica_i_broj</td>
            <td>@s.Sprat</td>
            <td>@s.Kvadratura</td>
            <td>@s.Opis</td>
            <td>@s.Tip_stana</td>
            <td>@s.Cena</td>
            <td>@s.NaProdaju</td>

            @if ((string)Session["Ulogovan"] == "Admin")
            {
                if (s.NaProdaju)
                {
                    <td>
                        <form action="~/Novi/Modifikuj" method="post">
                            <input type="number" name="id" value="@s.Id" hidden />
                            <input type="submit" value="Modifikuj" />
                        </form>
                    </td>
                }
                else
                {
                    if (ViewBag.najpomocnija != null)
                    {

                        foreach (var k in ViewBag.najpomocnija)
                        {
                            if (k.stan.Id == s.Id)
                            {
                                <td>@k.Kupac.Username</td>
                            }
                        }
                    }
                }
            }
            else if ((string)Session["Ulogovan"] == "Korisnik")
            {
                <td>
                    <form action="~/Novi/Izaberi" method ="post">
                        <input type = "number" name = "id" value = "@s.Id" hidden />
                        <input type = "submit" value = "Izaberi" />
                    </form>
                </td >

            }
        </tr>
    }

</table>
}
else
{
    <p>Nema stanova za ovu kategoriju</p>
}

@if ((string)Session["Ulogovan"] == "Admin")
{
        <form action="~/Home/PrikaziSveKupce">
           <p><input type="submit" value="Vidi sve korisnike"/></p>
        </form>
        <form action="~/Novi/Index1">
            <p><input type="submit" value="Dodaj Stan"></p>
        </form>
    
}
        @if ((string)Session["Ulogovan"] == "Korisnik")
        {
            <a href="~/Novi/MojaKorpa">Moja korpa</a><h2>Sortiraj po:</h2>
        }
<form action="~/Home/Sortiraj" method="post">
    <table>
        <tr>
            <td>
                <input list="sortiranje" name="sortTip" />
                <datalist id="sortiranje">
                    <option>GRAD</option>
                    <option>TIP</option>
                    <option>CENA</option>
                </datalist>
            </td>
            <td>
                <input list="ascdesc" name="uzlsil" />
                <datalist id="ascdesc">
                    <option>RASTUCI</option>
                    <option>OPADAJUCI</option>
                </datalist>
            </td>
            <td>
                <input type="submit" value="Sortiraj" />
            </td>
        </tr>
    </table>
</form>

<h2>Pretrazi po gradu:</h2>
<form action="~/Home/PretraziPoGradu" method="post">
    <table>
        <tr>
            <td>
                <input type="text" name="searchGrad">
            </td>
            <td>
                <input type="submit" value="pretrazi">
            </td>
        </tr>
    </table>
</form>

<h2>Pretrazi po tipu:</h2>
<form action="~/Home/PretraziPoTipu" method="post">
    <table>
        <tr>
            <td>
                <input list="tipps" name="searchTip" />
                <datalist id="tipps">
                    <option>GARSONJERA</option>
                    <option>DVOSOBAN</option>
                    <option>TROSOBAN</option>
                    <option>CETVOROSOBAN</option>
                </datalist>
            </td>
            <td>
                <input type="submit" value="Pretrazi" />
            </td>
        </tr>
    </table>
</form>

<h2>Pretrazi po ceni:</h2>
<form action="~/Home/PretraziPoCeni" method="post">
    <table>
        <tr>
            <td><p>od</p></td>
            <td><input type="number" name="donja" /></td>
            <td><p>do</p></td>
            <td><input type="number" name="gornja" /></td>
            <td><input type="submit" name="Pretrazi" /></td>
        </tr>
    </table>
</form>