﻿
@{
    ViewBag.Title = "PrikaziSveKupce";
}

<h2>Prikazivanje svih kupaca</h2>
<table border="1">
    @foreach (var k in ViewBag.customers)
    {
        if (!k.Uloga.Equals(Zadatak1.Models.ulogee.ADMINISTRATOR))
        {

            <tr>
                <td>@k.Username</td>
                <td>@k.Ime</td>
                <td>@k.Prezime</td>
                <td>@k.Pol</td>
                <td>@k.Email</td>
                <td>@k.datum_rodjenja.ToString("dd'/'MM'/'yyyy")</td>
                <td>@k.Uloga</td>
                <td>
                    <form action="~/Home/Obrisi" method="post">
                        <input type="text" name="username" value = "@k.Username" hidden/>
                        <input type="submit" name="Brisi"/>
                    </form>
                </td>
            </tr>

        }

    }
</table>

<a href="~/Home/Index">Home</a>