﻿
@{
    ViewBag.Title = "Index";
}

<h2>Log in</h2>
<div>
    @ViewBag.poruka
</div>

<form action="~/Autentikacija/Index" method="post">
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" name="username" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td><input type="submit" name="Log in" /></td>
        </tr>
    </table>
</form>

<a href="~/Home/Index">Home</a>
<a href="~/Autentikacija/Index1">Log in</a>
<a href="~/Registracija/Reg">Registracija</a> 